<!--
<div class="container p-4">
    <div class="row">
      
      <div class="col-md-8 offset-md-2 mt-2">
        <div class="card">
          <form [formGroup]="EmpleadoForm" class="card-body" (ngSubmit)="onSaveForm()">
          <h3 class="card-title">Agregar Empleados</h3>
          <label for="id">Id</label>
          <input type="text" name="id" formControlName="id" class="form-control" autofocus >

          <label for="name">Nombre</label>
          <input type="text" name="name" formControlName="name"  class="form-control" >

            <label for="address">Direcciòn</label>
          <input type="text" name="address" formControlName="address" class="form-control">

          <input type="submit" class="btn btn-primary btn-block mt-4" value="Guardar" #btn>
        </form>
      </div>
    </div>
  </div>
-->
<div class="container p-4">
  <div class="row">
  <div class="col-md-8 offset-md-2 mt-2">
   <div class="card">
  <form [formGroup]="EmpleadoForm" class="card-body" (ngSubmit)="onSaveForm(EmpleadoForm)">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" name="id" formControlName="id" placeholder="Id">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" formControlName="firstname" placeholder="Primer Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" formControlName="lastname" placeholder="Primer Apellido">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="bloque">Dirección</label>
        <input type="text" class="form-control" name="bloque" formControlName="bloque" placeholder="Bloque">
      </div>
      <div class="form-group col-md-6">
        <label for="colonia">Colonia</label>
        <input type="text" class="form-control" name="colonia" formControlName="colonia" placeholder="Colonia">
      </div>
    </div>
    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" class="form-control" name="age" formControlName="age" placeholder="Edad">
    </div>
    <div class="form-group">
      <label for="phone">Celular</label>
      <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="Celular">
    </div>    
    <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>
  </form>
</div>
</div>
  </div>
</div>